@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@300;400;500;700&display=swap');
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");

:root{
    --cor-de-fundo: #EBECEE;
    --branco: white;
    --laranja: #000000;
    --azul-escuro: #002F52;
    --branco-ovo: #E5E5E5;
    --cinza-claro: #F9F9F9;
    --cinza: #C4C4C4;
    --azul-gradiente: linear-gradient(98deg, #701010 35.49%, #201113 165.37%);
    --fonte: 'Poppins'
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
}