.banner{
    background: var(--azul-gradiente);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-weight: 700;
    font-size: 1.125rem;
}

.banner__texto{
    font-weight: 500;
    font-size: 1rem;
    margin: 1em 0;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 1.5rem;
    padding: .8em;
    width: 70%;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte);
    font-size: .875rem;
    font-weight: 400;
    color: var(--branco);
    text-align: center;
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 1em center;
    padding-left: 2em;
}

@media screen and (min-width: 1024px) {
    .banner{
        padding: 5em 16em;
    }

    .banner__titulo{
        font-size: 2.25rem;
    }

    .banner__texto{
        padding: 1em 0;
    }

    .banner__pesquisa{
        width: 70%;
    }
}

@media screen and (min-width: 1728px){
    .banner__pesquisa{
        width: 30%;
    }

    .banner__pesquisa::placeholder{
        background-position: 5em;
    }

    .banner__texto{
        padding: 1em 0;
    }
}