.carrossel__titulo{
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--laranja);
    text-align: center;
    background: var(--branco);
    padding: 1em 0 .8em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-pagination{
    position: initial;
    margin: .5em 0;
}