.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    position: relative;
}

.cabecalho__menu-hamburger{
    width: 3rem;
    height: 3rem;
    background-image: url("../img/Menu.svg");
    background-position: center;
    display: inline-block;
    margin-left: .5rem;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: .5rem;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 68vw;
}

.container__botao,
.opcoes__botao{
    display: none;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__link{
    text-decoration: none;
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 400;
    font-size: 1rem;
}

.container__titulo{
    display: none;
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.opcoes{
    display:none;
}

@media screen and (min-width: 1024px) {
    
    .cabecalho{
        align-items: center;
    }
    
    .container__titulo{
        font-family: var(--fonte2);
        font-size: 1.875rem;
        padding-left: 1em;
        display: block;
        align-items: center;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
        margin: 2em;
    }

    .opcoes__item{
        padding-right: 1em;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--laranja);
    }
    
    .cabecalho__menu-hamburger{
        display: none;
    }

    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
    }
}